# Prétraitement de données

Dans ce notebook, on va effectuer un prétraitement sur les dataset "mesume visitors". Ce dataset va etre utilisé par la suite pour faire une visualization avec D3.js.

Lien vers le dataset: https://www.kaggle.com/code/alexisbcook/line-charts/data?select=museum_visitors.csv

In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("museum_visitors.csv")
df.head()

,Date,Avila Adobe,Firehouse Museum,Chinese American Museum,America Tropical Interpretive Center
0,2014-01-01,24778,4486,1581,6602
1,2014-02-01,18976,4172,1785,5029
2,2014-03-01,25231,7082,3229,8129
3,2014-04-01,26989,6756,2129,2824
4,2014-05-01,36883,10858,3676,10694

In [5]:
df.Date = df.Date.str.replace('-', '')

In [6]:
df.describe()

,Avila Adobe,Firehouse Museum,Chinese American Museum,America Tropical Interpretive Center
count,59.000000,59.000000,59.000000,59.000000
mean,24061.661017,6472.830508,2721.254237,7107.016949
std,5948.997414,7471.196609,1165.585196,2561.671286
min,14035.000000,3306.000000,1073.000000,2824.000000
25%,19469.500000,4412.500000,2134.000000,5424.500000
50%,23136.000000,5181.000000,2419.000000,6602.000000
75%,27502.000000,6239.500000,2942.500000,7943.000000
max,41242.000000,61192.000000,7702.000000,13490.000000

In [7]:
df.Date = df.Date.astype('int')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 5 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Date                                  59 non-null     int32
 1   Avila Adobe                           59 non-null     int64
 2   Firehouse Museum                      59 non-null     int64
 3   Chinese American Museum               59 non-null     int64
 4   America Tropical Interpretive Center  59 non-null     int64
dtypes: int32(1), int64(4)
memory usage: 2.2 KB

In [9]:
df.to_csv("dataset.csv")